workflows/BqiNxYxTm87eYxzX.json
{
  "active": true,
  "connections": {
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Call 'process-backup'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'process-backup'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-15T09:25:11.733Z",
  "id": "BqiNxYxTm87eYxzX",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "backup",
  "nodes": [
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        656,
        368
      ],
      "id": "7af1f600-7faf-4266-9e4b-5df4ab574b53",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "CgyQykvbllBKR1re",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        864,
        368
      ],
      "id": "65037c9c-a866-4eff-8b3f-6451ed1d7c27",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        448,
        368
      ],
      "id": "c61bf99b-6d99-43cc-ae78-42c1fa880f70",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bL2OxKNL1BuHOL2n",
          "mode": "list",
          "cachedResultUrl": "/workflow/bL2OxKNL1BuHOL2n",
          "cachedResultName": "process-backup"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}"
          },
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1232,
        384
      ],
      "id": "60cbfbe5-b539-4840-90fd-e642b652f581",
      "name": "Call 'process-backup'"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-15T09:25:11.736Z",
      "updatedAt": "2025-10-15T09:25:11.736Z",
      "role": "workflow:owner",
      "workflowId": "BqiNxYxTm87eYxzX",
      "projectId": "OXbhDgBzx3ttiAxZ"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-15T10:03:18.000Z",
  "versionId": "7619bae8-b3bb-4f2f-8e3a-be9aa02f40fd"
}